<h1>Sings#new</h1>
<%= form_for @sing, url: {action: "create"}, html: { class: "nifty_form" } do |f| %>
	<% if @sing.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@sing.errors.count, "error") %> prohibited
        this sing from being saved:
      </h2>
      <ul>
        <% @sing.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <label for="sing[url]">唱本 URL</label>
    <%= f.text_field :url, class: 'form-control', placeholder: '请输入唱本 url' %>
    <small id="emailHelp" class="form-text text-muted">唱本 url 应该是 wav 文件地址.</small>
  </div>
	<%= f.submit "Create", class: 'btn btn-primary' %>
<% end %>
